<div class="projects-form-container">
    <a href="/projects/dashboar">Voltar</a>

    <h1>Criando um Projeto:</h1>

    <form action="/projects/add" method="post">
        <div class="form-control">
            <label for="name">Nome do Projeto:</label>
            <input type="text" name="name" placeholder="Digite o nome do projeto" required>
        </div>
    <input type="submit" value="Criar Projeto">
    </form>

</div>